<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>image_to_name</title>

<!-- <link rel="manifest" href="manifest.json"> -->

<!-- https://taroyanaka.github.io/q_a/sample_data_for_index3.txt -->

<link rel="stylesheet" href="./lib/reset.css">
<script src="./lib/localforage@1.10.0.js"></script>
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<script src="./lib/ramda.@0.28.0.js"></script>
<script src="./lib/shuffle.js"></script>
<script src="./lib/my_global_function_for_q_a.js" defer></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.prod.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.28.0/ramda.min.js"></script> -->


<style>
    
:root {
--css-var-root-font-size: 12px;
font-size: var(--css-var-root-font-size);
--css-var-test-inline: none;
--css-var-column-1-none: 1fr;
--css-var-column-2-none: 1fr;
--css-var-column-3-none: 1fr;
--css-var-color-1: ;
--css-var-color-2: ;
--css-var-color-3: ;
--test: 'blue';




--FITB-button-ul-height: 20vh;
--FITB-li-visibility: visible;
--FITB-collapse-display: block;

--advanced-display-var: none;
}
button{
border: none;
background-color: aliceblue;
border-radius: 1rem;
margin: 0.1rem;
}
.app{
width: 100vw;
}
.toggleDisplay_parent{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 4rem;
}
.header{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 4rem;
}
.contents{
width: 100vw;
display: grid;
grid-template-columns: var(--css-var-column-1-none) var(--css-var-column-2-none) var(--css-var-column-3-none);
}
.column-1-none{
visibility: hidden;
}
.column-2-none{
visibility: hidden;
}
.column-3-none{
visibility: hidden;
}
.textarea-column-1{
display: grid;
grid-template-columns: 1fr 1fr;
}
.textarea-column-2{
display: grid;
grid-template-rows: 4rem 1fr;
grid-template-columns: 1fr 1fr;
grid-template-areas:
"button-zone button-zone"
"question answer";
}
.column-1{background-color: var(--css-var-color-1)}
.column-2{background-color: var(--css-var-color-2)}
.column-3{background-color: var(--css-var-color-3)}
.a{
grid-area: button-zone;
display: grid;
grid-template-rows: 4rem;
grid-template-columns: 1fr 1fr 1fr;
}
.a-1{}
.a-2{}
.a-3{}
.b{
grid-area: question;
width: 100%;
}
.c{
grid-area: answer;
width: 100%;
}
.test-fn-none-inline {
height: 4rem;
display: var(--css-var-test-inline);
}
.textarea_none {
display: none;
}
.q_and_a{
display: grid;
grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
justify-content: center;
align-content: center;
grid-auto-flow: column;
}
.q_and_a button{
display: inline-block;
width: auto;
min-height: 4rem;
word-break: break-all;
}
.check_button{
width: 100%;
height: 4rem;
justify-self: center;
align-self: center;
font-size: 3rem;
}
.result_opener, .save_opener{
width: 100%;
height: 4rem;
font-size: 1.5rem;
position: relative;
}
.text_center{
display: inline-block;
width: auto;
min-height: 4rem;
font-size: 1.5rem;
align-self: center;
justify-self:center;
word-break: break-all;
}
.text_left{
text-align: start;
font-size: 1.5rem;
}
.text_right{
justify-self: center;
align-self: center;
font-size: 1.5rem;
}
.optional_function{
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.optional_function button{
height: 4rem;
/* font-size: 1.5rem; */
}
.save_data_set_list > *{
overflow: hidden;
white-space: nowrap;
}
.save_data_set_list{
display: grid;
grid-template-columns: 1fr 2.5rem 2.5rem;
word-break: break-all;
}
.save_data_set_list > span{
font-size: 1.3rem;
}
.save_data_set{}
.save_data_delete{}
.column_none{
font-size: 2rem;
}
.font_sizing{
font-size: 2.5rem;
}



/* for only index3 */
.png_image{
    /* display: inline-block; */
    /* width: 100%; */
    /* height: 2rem; */
}

.test_exe{
    width: 10%;
    height: 4rem;
}

.result_color{
    /* display: grid; */
  /* grid-template-columns: repeat(1fr); */
    /* grid-template-rows: 1fr; */
    /* background-color: red; */
}
.centering{

}
.centering *{
    word-wrap: break-word;
    overflow: hidden;
  text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
.column-2{
    display: grid;
    grid-template-rows: 1fr;
}
.OK_or_NG{
    font-size: 2rem;
}
.answer{
    font-size: 2rem;
}
.any{
    display: block;
}
.any > *{
    width: 6rem;
display: inline;
}






.fixed_element {
    z-index: 10;
    font-size: 2.5rem;
}
.fixed_element_top_right {
    position: fixed;
    top: 0;
    right: 0;
}
.fixed_element_top_left {
    position: fixed;
    top: 0;
    left: 0;
}
.fixed_element_bottom_right {
    position: fixed;
    bottom: 0;
    right: 0;
}
.fixed_element_bottom_left {
    position: fixed;
    bottom: 0;
    left: 0;
}
/* for_online_function */
.simple_mode2 {
    /* simple_funtionable用の空のclass */
}
.flex_child {
    display: flex;
}
.block_of_one {
    position: relative;
    margin-bottom: 1rem;
}
.data_type {
    display: inline-block;
    font-size: 1rem;
}
.data_type, .download_data, .go_to_any_service_page_with_id, .all_tags {
    display: inline-block;
}
.download_data, .go_to_any_service_page_with_id {
    font-size: 1.5rem;
}
.tags_parent, .tags {
    display: inline;
    font-size: 0.7rem;
}
.top_right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
}
.bottom_right {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
}
.bottom_middle {
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 1.4rem;
}
.dialog_ul {
    display: inline-block;
}
.dialog_li {
    display: inline-block;
}
.showDialog {
    display: inline-block;
}
.synapse {
    font-size: 2.5rem;
}
.created_at, .username, .id {
    display: inline-block;
    font-size: 0.7rem;
}
.comment_and_tag {
    padding: 10px;
    border: 1px solid black;
}
.bigger_font, .show_tag_more_button_all {
    font-size: 2rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
.vw_full {
    width: 100vw;
}
.additional_parent {
    display: flex;
    place-content: flex-start;
}
.additional_child {
    width: 31vw;
    font-size: 2rem;
    text-align: center;
}
.additional_child_small {
    width: 2vw;
}
.additional_child_small > * {
    display: inline-block;
}
.additional_child button {
    vertical-align: middle;
    border: 0.01rem solid #000000;
}
.fixed_element {
    z-index: 10;
    font-size: 2.5rem;
}
.fixed_element_top_right {
    position: fixed;
    top: 0;
    right: 0;
}
.fixed_element_top_left {
    position: fixed;
    top: 0;
    left: 0;
}
.fixed_element_bottom_right {
    position: fixed;
    bottom: 0;
    right: 0;
}
.fixed_element_bottom_left {
    position: fixed;
    bottom: 0;
    left: 0;
}
.display_none {
    display: none;
}
.data_a_b_text {
    font-size: 1.3rem;
}
.minimum {
}
.maximum {
    width: 100vw;
}
.name, .placeholder {
    height: 1.5rem;
}
.download_data {
    font-size: 3rem;
}
.advanced {
    display: var(--advanced-display-var);
    /* display: inline-block; */
}
.result_opener, .save_opener, .textarea_opener, .fetch_insert_link {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    position: relative;
}
/* for_online_function */

</style>
</head>
<body class="app">
    <div @click="simple_funtionable" class="fixed_element fixed_element_top_right simple_mode2">◎</div>
    <div @click="simple_funtionable" class="fixed_element fixed_element_top_left simple_mode2">◎</div>
    <div @click="simple_funtionable" class="fixed_element fixed_element_bottom_right simple_mode2">◎</div>
    <div @click="simple_funtionable" class="fixed_element fixed_element_bottom_left simple_mode2">◎</div>    

    <div class="toggleDisplay_parent">
        <button @click="go_to_any_service_page()" class="go_to_any_service_page">🔽</button>
    </div>
<div class="content_parent simple_mode2">
<header class="header">
<button @click="column_1_none_fn" class="column_none">💾</button>
<button @click="column_2_none_fn" class="column_none">⌨️</button>
<button @click="column_3_none_fn" class="column_none">🖥️</button>
</header>
<div class="contents simple_mode2">

<div class="column-1" :class="{'column-1-none': column_1_none}">
<div class="optional_function">
    <button @click="reverse_q_a">🔃</button>
    <button @click="shuffle_q_a">🌪️</button>
    <button @click="swap_q_a">🔁</button>
    <button @click="save_data_to_all_save">🗂️</button>
</div>

<button @click="fn19_0" class="save_opener">📂</button>
<ul style='display: block;' ref="save_data_set_list_parent1">
<li v-for="(DATAVAL, DATAIDX) in all_save" class="save_data_set_list">
    <span @click="save_data_set(DATAIDX)">{{ [DATAVAL[0].split("\n")[0], DATAVAL[1].split("\n")[0]] }}</span>
    <button @click="save_data_set(DATAIDX)" class="save_data_set">📂</button>
    <button @click="save_data_delete(DATAIDX)" class="save_data_delete">🗑️</button>
</li>
</ul>

<!-- <button @click="fn19_1" class="save_opener">🌐</button>
<div style='display: none' ref="save_data_set_list_parent2">
    <div>
        show_user: <button v-if="show_user" @click="show_all_user">{{ show_user }}</button>
        show_tag: <button v-if="show_tag" @click="show_all_tag">{{ show_tag }}</button>
        change_show_order_by: <button @click="change_show_order_by">{{ show_order_by }}</button>
    </div>
    all_tag:
    <div class="all_tags" v-if="tags && show_tag === ''">
        <ul>
            <li v-for="(tag, tag_i) in tags">
                <button @click="change_show_tag(tag['tag'])">{{ tag['tag'] }}</button>
            </li>
        </ul>
    </div>

    <div v-if="i_t_n_web_data" class="flex_child">
        <ul>
        <li v-for="(DATA_VAL, DATA_IDX) in i_t_n_web_data">
            <button @click="short_or_long( DATA_VAL['id'] )">short_or_long</button>
            <div>data_1: {{ truncateText( data_json_parse_data1_data2(DATA_VAL['data_json_str'])['data1'], DATA_VAL['id'] ) }}</div>
            <div>data_2: {{ truncateText( data_json_parse_data1_data2(DATA_VAL['data_json_str'])['data2'], DATA_VAL['id'] ) }}</div>
            <button @click="download_data(DATA_VAL['id'])">download_data</button>
            <div>id: {{ DATA_VAL['id'] }}</div>
            <div>username: <button @click="change_show_user(DATA_VAL['username'])">{{ DATA_VAL['username'] }}</button></div>
            <div>created_at: {{ date_time_form(DATA_VAL['created_at']) }}</div>
            <ul>
            <li v-for="(COMMENT_AND_REPLIES, COMMENT_IDX) in DATA_VAL['comments_and_replies']">
                id: {{ COMMENT_AND_REPLIES[COMMENT_IDX]['id'] }}
                <ul>
                    <li v-for="(REPLIES, REPLIES_PROP) in COMMENT_AND_REPLIES['comment_replies'] ">
                    id: {{ REPLIES['id'] }}
                    reply: {{ REPLIES['reply'] }}
                    username: <button @click="change_show_user(REPLIES['username'])">{{ REPLIES['username'] }}</button>
                    </li>
                </ul>
            </li>
            </ul>

            <ul>
            <li v-for="(Tag, Tag_I) in DATA_VAL['tags']">
                <span>id: {{Tag['id']}}</span>        
                <span>Tag: <button @click="change_show_tag(Tag['tag'])">{{ Tag['tag'] }}</button></span>
            </li>
            </ul>
            <div>
                <input list="tag-options" v-model="search_tag" @input="fetch_get_tags_for_autocomplete" @change="fetch_get_tags_for_autocomplete">
                <datalist id="tag-options">
                    <option v-for="(tag_option, tag_option_i) in tags" :value="tag_option.tag">{{ tag_option.tag }}</option>
                </datalist>
            </div>
        </li>
        </ul>
    </div>
</div>

<div class="textarea-column-1">
    <textarea v-model="data2" rows="50"></textarea>
    <textarea v-model="data3" rows="50"></textarea>
</div>
<div>
    <button @click="fetch_insert_link">fetch_insert_link</button>
    <input type="text" v-model="name" placeholder="name">
    <input type="password" v-model="password" placeholder="password">
</div>
<button @click="fn21(1)" class="font_sizing">◉</button>
<button @click="fn21(-1)" class="font_sizing">⦿</button>
<button @click="fn21" class="font_sizing">◎</button>
    <div class="button_list">
        <button @click="sample1">sample1</button>
    </div>
</div> -->
<button @click="fn19_1" class="save_opener">🌐</button>
<div style='display: none' ref="save_data_set_list_parent2" class="vw_full">
    <div v-if="temporary_list[2]" class="simple_mode1">
        <div class="additional_parent">
            <div class="additional_child">👥 <button v-if="show_user" @click="show_all_user">{{ show_user }}</button></div>
            <div class="additional_child">🏷️ <button v-if="show_tag" @click="show_all_tag">{{ show_tag }}</button></div>
            <div class="additional_child">⬆️⬇️ <button @click="change_show_order_by">{{ show_order_by }}</button></div>
            <div class="additional_child_small">
                <input type="radio" id="option1" value="advanced" v-model="advanced_visible">
                <label for="option1"></label>
                <input type="radio" id="option2" value="not_advanced" v-model="advanced_visible">
                <label for="option2"></label>
            </div>
        </div>
        
        <div class="flex_child q_a_data" ref="flex_child_display_q_a_data">
        <ul class="simple_mode1">
        <li v-for="(DATA_VAL, DATA_IDX) in temporary_list[2]" class="block_of_one simple_mode1">
            <div class="data_type" v-if="DATA_VAL['data_type']">{{ DATA_VAL['data_type'] }}</div>
            <div :style="apply_inline_block_styles_all_at_once(false, true)" class="download_data" @click="download_data(DATA_VAL['id'])">⬆️</div>
            <span v-if="DATA_VAL['likes'].length === 0"
                @click="fetch_like_increment_or_decrement(DATA_VAL['id'])">
                {{ '♡' }}</span>
            <span
                v-for="(like, like_i) in DATA_VAL['likes']"
                @click="fetch_like_increment_or_decrement(DATA_VAL['id'])">
                {{ '❤️' }}</span>
            <ul class="tags_parent">
                <li v-for="(Tag, Tag_I) in DATA_VAL['tags']" class="tags">
                    <button @click="change_show_tag(Tag['tag'])">{{ Tag['tag'] }}</button>
                    <button
                        v-if="DATA_VAL['tags'].length >0"
                        @click="fetch_delete_tag(DATA_VAL['id'], Tag['id'])"
                        :style="{ display: tag_more_visible ? 'inline' : 'none' }"
                        >🗑️</button>
                </li>
            </ul>
            <button @click="show_tag_more_button" class="show_tag_more_button">🏷️→</button>
            <div :style="{ display: tag_more_visible ? 'block' : 'none' }">
                <input list="tag-options" v-model="search_tag" @input="fetch_get_tags_for_autocomplete" @change="fetch_get_tags_for_autocomplete">
                <datalist id="tag-options" @click>
                    <option v-for="(tag_option, tag_option_i) in tags" :value="tag_option.tag">{{ tag_option.tag }}</option>
                </datalist>
                <button @click="fetch_insert_tag(DATA_VAL['id'])">🏷️🏷️🏷️</button>
            </div>
            <div class="top_right advanced">
                <ul class="dialog_ul">
                <li class="dialog_li" v-for="(Other_Of_One, Other_Of_One_I) in other_data_type(DATA_VAL['data_type'])">
                    <span class="synapse" @click="synapse(DATA_VAL['data_type'], Other_Of_One,
                        data_json_parse_data1_data2(DATA_VAL['data_json_str'])['data1'],
                        data_json_parse_data1_data2(DATA_VAL['data_json_str'])['data2'],
                    )" :style="{ display: synapse_visible ? 'block' : 'none' }">{{ choice_emoji(Other_Of_One) }}</span>
                </li>
                </ul>
                <div @click="showDialog" class="showDialog">⚙️</div>
            </div>
            <div class="bottom_right">
                <div class="created_at">{{ date_time_form(DATA_VAL['created_at']) }}</div>
                <button @click="change_show_user(DATA_VAL['username'])">{{ DATA_VAL['username'] }}</button>
                <div class="id">{{ DATA_VAL['id'] }}</div>
            </div>
            <div class="clickable_for_short_or_long simple_mode1 " @click="short_or_long( DATA_VAL['id'] )" ref="exception">
                <div class="simple_mode1 data_a_b_text">{{ truncateText( data_json_parse_data1_data2(DATA_VAL['data_json_str'])['data1'], DATA_VAL['id'] ) }}</div>
                <div class="simple_mode1 data_a_b_text">{{ truncateText( data_json_parse_data1_data2(DATA_VAL['data_json_str'])['data2'], DATA_VAL['id'] ) }}</div>
            </div>
            <div class="bottom_middle" @click="comment_and_tag_toggle">💬␡</div>
                <div class="comment_and_tag" @click="comment_and_tag_toggle" :style="{ display: comment_and_tag_visible ? 'block' : 'none' }">
                <ul>
                <li v-for="(COMMENT_AND_REPLIES, COMMENT_IDX) in DATA_VAL['comments_and_replies']">
                    {{ COMMENT_AND_REPLIES[COMMENT_IDX]['comment'] }}
                    <span :style="{ display: comment_button_visible ? 'inline-block' : 'none' }">
                        <button @click.stop="change_show_user(COMMENT_AND_REPLIES[COMMENT_IDX]['username'])">{{ COMMENT_AND_REPLIES[COMMENT_IDX]['username'] }}</button>
                        <button class="advanced" @click.stop="fetch_delete_comment(COMMENT_AND_REPLIES[COMMENT_IDX]['id'])">🗑️</button>
                    </span>
                        <input class="advanced" type="text" v-model="comment_reply" placeholder="comment_reply" @click.stop>
                        <button class="advanced" @click.stop="fetch_insert_comment_reply(COMMENT_AND_REPLIES[COMMENT_IDX]['id'])">💬</button>
                    <ul>
                        <li v-for="(REPLIES, REPLIES_PROP) in COMMENT_AND_REPLIES['comment_replies'] ">
                        <span style="margin-left: 1rem;"></span>{{ REPLIES['reply'] }}
                        <span :style="{ display: comment_button_visible ? 'inline-block' : 'none' }">
                            <button @click.stop="change_show_user(REPLIES['username'])">{{ REPLIES['username'] }}</button>
                            <button class="advanced" @click.stop="fetch_delete_comment_reply(REPLIES['id'])">🗑️</button>
                        </span>
                        </li>
                    </ul>
                </li>
                </ul>
                <input class="advanced" type="text" v-model="comment" placeholder="comment" @click.stop>
                <button class="advanced" @click.stop="fetch_insert_comment(DATA_VAL['id'])">💬💬💬</button>
                <div style="margin-top: 0.5rem" @click.stop>
                    <button @click.stop="fetch_delete_link(DATA_VAL['id'])" class="bigger_font">␡</button>
                    <button class="advanced" @click.stop="show_comment_button" class="bigger_font">💬→</button>
                </div>
            </div>
        </li>
        </ul>
        </div>
        </div>
</div>

<button @click="textarea_opener" class="textarea_opener">📝</button>
    <div class="textarea-column-1" id="target">
    <!-- <textarea name="" id="textarea-column-1-1" rows="30" cols="" v-model="data6" :style="{ display: textarea_visible ? 'block' : 'none' }"></textarea> -->
    <!-- <textarea name="" id="textarea-column-1-2" rows="30" cols="" v-model="data3" :style="{ display: textarea_visible ? 'block' : 'none' }"></textarea> -->
    <textarea name="" id="textarea-column-1-1" rows="30" cols="" v-model="data2" :style="{ display: textarea_visible ? 'block' : 'none' }"></textarea>
    <textarea name="" id="textarea-column-1-2" rows="30" cols="" v-model="data3" :style="{ display: textarea_visible ? 'block' : 'none' }"></textarea>
    </div>
    <div>
        <button @click="fetch_insert_link" class="fetch_insert_link">📲🛫📲🚀📲</button>
        <input type="text" v-model="name" placeholder="name" class="name">
        <input type="password" v-model="password" placeholder="password" class="password">
    </div>
    <button @click="fn21(1)" class="font_sizing">◉</button>
    <button @click="fn21(-1)" class="font_sizing">⦿</button>
    <button @click="fn21" class="font_sizing">◎</button>
    </div>


<div class="column-2 simple_mode2" :class="{'column-2-none': column_2_none}">
    <!-- <button @click="test_exe" class="test_exe" :style="{display: test_mode ? 'block' : 'none'}">test_exe</button> -->
<ul class="centering simple_mode2 minimum">

    <button @click="change_only_one_q_a_mode" class="check_button">📏</button>
    <button @click="change_current_index(-1)" class="check_button" v-if="only_one_q_a_mode">⬆️</button>

    <li v-for="(item, IDX) in data5" :key="item" class="result_color simple_mode2" :style="{display: data5_result ? 'block' : 'none'}">
        <div class="simple_mode2" v-if="only_one_q_a_mode ? IDX === current_index : true">

        <span class="OK_or_NG simple_mode2">{{ true_or_false_to_emoji(item[2]) }}</span>
        <span class="answer simple_mode2">{{ item[0] }}</span>
        <span class="any simple_mode2">
            <img :src="item2" :alt="item[0]" class="png_image png_image_back simple_mode2" @click="check_image_to_name(item[1][0], item2, IDX)"  v-for="item2 in item[1][1]" >
        </span>
        </div>
    </li>

    <button @click="change_current_index(+1)" class="check_button" v-if="only_one_q_a_mode">⬇️</button>
    <button @click="change_only_one_q_a_mode" class="check_button">📏</button>

    <div v-for="(item, IDX) in data9" :key="item" class="result_color result_color2" :style="{display: data9_result ? 'block' : 'none'}">
        <span class="OK_or_NG">{{ true_or_false_to_emoji(item[2]) }}</span>
        <img :src="item[0]" :alt="item[0]" class="png_image png_image_back" >
        <span v-for="item2 in item[1][1]">
            <button @click="check_name_to_image(item[1][0], item2, IDX)">{{ item2 }}</button>
        </span>
    </div>
    <button @click="filter_image_and_name" class="check_button">🎮</button>

</ul>
</div>


<div class="column-3" :class="{'column-3-none': column_3_none}">
<div>
    <button @click="fn18" class="result_opener">📖</button>
</div>
<template v-for="(DATAVAL, DATAIDX) in data10">
    <div class="textarea-column-2">
    <div class="a">
        <button @click="fn9(DATAIDX)" class="a-1">↩️</button>
        <button @click="fn16(DATAIDX)" class="a-2">🗑️</button>
        <button @click="fn17(DATAIDX)" class="a-3">📚</button>
    </div>
<textarea name="" cols="30" rows="10" class="b" style='display: block;' ref="results">{{ DATAVAL[0] }}</textarea>
<textarea name="" cols="30" rows="10" class="c" style='display: block;' ref="results">{{ DATAVAL[1] }}</textarea>
    </div>
</template>
</div>


</div>






<!-- <div class="column-1">
    <div class="button_list">
        <button @click="sample1">sample1</button>
        <button @click="sample2">sample2</button>
    </div>
    <div class="textarea_parent">
        <textarea v-model="data2"></textarea>
        <textarea v-model="data3"></textarea>
    </div>
</div> -->


</div>
</body>
<script>
let data1 = null;
let data2 = null;
let data3 = null;
let ary_data2 = null;
let ary_data3 = null;
let data4 = null;
let data5 = null;
let data6 = null;
let data7 = null;
let data8 = null;
let data9 = null;
let data10 = null;




const app = Vue.createApp({
data() {
return {
data1:[
    // ['cat','https://taroyanaka.github.io/q_a/asset/cat.png'],
    // ['dog','https://taroyanaka.github.io/q_a/asset/dog.png'],
    // ['halr','https://taroyanaka.github.io/q_a/asset/halr.png'],
],
data2:'',
ary_data2: [],
data3:'',
ary_data3: [],
data4:[],
data5:[],
data6:[],
data7:[],
data8:[],
data9:[],
data10:[],

all_save: [],

test_mode: false,

data5_result: true,
data9_result: false,

column_1_none: false,
column_2_none: false,
column_3_none: false,


DATA_TYPE_ARRAY: [
    'q_a',
    'f_i_b',
    'i_t_n',
],

current_index: 0,
only_one_q_a_mode: false,

truncate_text_length: 100,
untruncate_text_array: [],

// for_online_function
data_type: 'i_t_n',
link: '',
name: 'user1',
password: 'user_pass1',
tags: [],
search_tag: '',
web_data: {},
truncate_text_length: 100,
untruncate_text_array: [],
// endpoint: 'http://localhost:8000',
endpoint: 'https://cotton-concrete-catsup.glitch.me',
only_q_a_list: [],
only_f_i_b_list: [],
only_i_t_n_list: [],
temporary_list: [],
simple_funtionable_flag: false,
only_show_flag: false,
tag_more_visible: false,
comment_button_visible: false,
synapse_visible: false,
comment_and_tag_visible: false,
textarea_visible: false,

show_user: '',
show_tag: '',
show_order_by: 'DESC',
advanced_visible: 'not_advanced',
// for_online_function

}},
watch: {
data2: {
    handler() {
        this.init();
    },
    deep: true
},
data3: {
    handler() {
        this.init();
    },
    deep: true
},


// for_online_function
show_user: {
    async handler(newVal, oldVal) {
        await this.fetch_read_all();
    },
    deep: true,
},
show_tag: {
    async handler(newVal, oldVal) {
        await this.fetch_read_all();
    },
    deep: true,
},
show_order_by: {
    async handler(newVal, oldVal) {
        await this.fetch_read_all();
    },
    deep: true,
},
    // separate_each_listをdeep watchする
web_data: {
    handler: function (newVal, oldVal) {
        this.separate_each_list();
    },
    deep: true,
},
advanced_visible: {
    handler: function (newVal, oldVal) {
        this.advanced_visible === 'advanced' ? this.css_var_set('--advanced-display-var', 'inline-block') : this.css_var_set('--advanced-display-var', 'none');
    },
    deep: true,
},
// for_online_function
},
beforeCreate(){
},
created(){
},
beforeMount(){
},
mounted() {
this.fetch_read_all();
this.fetch_get_tags_for_autocomplete();

this.save_data_load();
this.init();
// this.for_debug();
this.test_mode === true ? (this.sample1(), sleep(100, this.test_exe)) : null;
},
beforeUpdate() {
},
updated() {
},
methods: {
fn1(){
},
test_exe(){
    // 偶数か奇数かを判定して偶数ならtrue、奇数ならfalseを返す1行の関数
    const is_even = num => num % 2 === 0;
    this.data5 = this.data5.map((V,IDX)=>[V[0], V[1], is_even(IDX)])
    this.filter_image_and_name();
},
remove(item, ary){
    // 指定した要素を配列から削除するramda.jsを使った1行の関数
    const remove = R.curry((item, ary) => R.filter(R.complement(R.equals(item)), ary));
    return remove(item, ary);
},
take2(ary){
    // 指定した要素から先頭から2つの要素を取り出すramda.jsを使った1行の関数
    const take2 = R.compose(R.take(2), R.drop(1));
    return take2(ary);
},
data2_data3_string_to_array(){
    this.ary_data2 = this.data2.split("\n")
    this.ary_data3 = this.data3.split("\n")
},
make_image_to_name_Q_A_array(){
    this.data4 = this.to_ary(this.ary_data3).map(V=> [V, this.take2(shuffle(this.remove(V, this.ary_data3)))]
    )
    this.data4 = this.to_ary(this.data4).map(V=> [V[0], shuffle(R.flatten(V))]
    );
    this.data5 = R.zip(this.ary_data2, this.data4);
    // data5のそれぞれの配列の3つ目にfalseを挿入するramda.jsの関数
    this.data5 = R.map(R.insert(2, false), this.data5);
    // this.for_debug();
},
init(){
    this.data2_data3_string_to_array();
    this.make_image_to_name_Q_A_array();
},
check_image_to_name(correct_URL, URL, IDX){
    this.data5[IDX][2] = correct_URL === URL ? true : false;
    // this.for_debug();
},
check_name_to_image(correct_URL, URL, IDX){
    this.data9[IDX][2] = correct_URL === URL ? true : false;
},

to_ary(it){
    return JSON.parse(JSON.stringify(it));
},
for_debug(){
    data1 = this.to_ary(this.data1);
    data2 = this.to_ary(this.data2);
    data3 = this.to_ary(this.data3);
    data4 = this.to_ary(this.data4);
    ary_data2 = this.to_ary(this.ary_data2);
    ary_data3 = this.to_ary(this.ary_data3);
    data5 = this.to_ary(this.data5);
    data6 = this.to_ary(this.data6);
    data7 = this.to_ary(this.data7);
    data8 = this.to_ary(this.data8);
    data9 = this.to_ary(this.data9);
    data10 = this.to_ary(this.data10);
    console.log('data5', this.data5);
},


sample1(){
    this.data2 = `cat
dog
halr
grf
eleph
sushi
cake
pink_pixel
paint`;
    this.data3 = `https://taroyanaka.github.io/q_a/asset/cat.png
https://taroyanaka.github.io/q_a/asset/dog.png
https://taroyanaka.github.io/q_a/asset/halr.png
https://taroyanaka.github.io/q_a/asset/grf.png
https://taroyanaka.github.io/q_a/asset/eleph.png
https://pbs.twimg.com/media/FpfSgHdaEAE-Ts6?format=jpg
https://pbs.twimg.com/media/FpfRSXQacAARY-a?format=jpg
https://pbs.twimg.com/media/FoaB5b9aUAAXgAU?format=jpg
https://pbs.twimg.com/media/FjuxRy-agAAgAFJ?format=jpg`;
},
// data2とdata3を逆ソートする関数
reverse_q_a(){
    this.data2 = this.data2.split("\n").reverse().join("\n");
    this.data3 = this.data3.split("\n").reverse().join("\n");
},
shuffle_q_a(){
    const ary1 = R.zip(this.data2.split("\n"), this.data3.split("\n"));
    const ary2 = shuffle(ary1);
    [this.data2, this.data3] = R.pipe(R.transpose, R.map(R.join("\n")))(ary2);
},

data6_data7_string_to_array(){
    this.ary_data6 = this.data2.split("\n")
    this.ary_data7 = this.data3.split("\n")
},
// swap_:ary_data6とary_data7を入れ替える関数
swap_data6_data7(){
    [this.ary_data6, this.ary_data7] = [this.ary_data7, this.ary_data6];
},
// data5_resultとdata9_resultのtrue/falseの切り替え
change_result(){
    this.data5_result = !this.data5_result;
    this.data9_result = !this.data9_result;
},
swap_q_a(){
    this.data6_data7_string_to_array();
    this.swap_data6_data7();
    this.change_result();
    this.data8 = this.to_ary(this.ary_data7).map(V=> [V, this.take2(shuffle(this.remove(V, this.ary_data7)))]
    )
    this.data8 = this.to_ary(this.data8).map(V=> [V[0], shuffle(R.flatten(V))]
    );
    this.data9 = R.zip(this.ary_data6, this.data8);
    // data9のそれぞれの配列の3つ目にfalseを挿入するramda.jsの関数
    this.data9 = R.map(R.insert(2, false), this.data9);
    this.for_debug();
},

async save_data_to_all_save(){
    this.all_save.push(this.to_ary([this.data2, this.data3]));
    await localforage.setItem('i_t_n', JSON.stringify(this.all_save));
},
async save_data_load() {
    this.all_save = JSON.parse(await localforage.getItem('i_t_n')) || [];
},
save_data_set(INDEX){
    this.data2 = this.all_save[INDEX][0];
    this.data3 = this.all_save[INDEX][1];
},
async save_data_delete(INDEX){
    if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕\n" + R.zip(this.all_save[INDEX][0].split("\n"), this.all_save[INDEX][1].split("\n")).join("\n") )) {
        this.all_save.splice(INDEX, 1);
        await localforage.setItem('i_t_n', JSON.stringify(this.all_save));
    };
},



filter_image_and_name(){
    if(this.data5.map(V=>V[2]).every(V=>V === true)){
        this.data5 = [];
        alert("すべての問題が正解しました。🦖\nすべての問題が正解しました。🦕");
        return;
    }
    const res1 = this.data5.filter(V=>V[2] === false);
    const res2 = R.transpose(
        res1.map(V=> [V[0], V[1][0]])
    );
    this.data10.push([res2[0].join("\n"), res2[1].join("\n")]);
    this.for_debug();
},

fn9(IDX){
    this.data2 = this.data10[IDX][0];
    this.data3 = this.data10[IDX][1];
},
fn16(INDEX){
    this.data10.splice(INDEX, 1);
},
fn17(INDEX){
    const TARGET_INDEX_FIRST = INDEX * 2;
    const TARGET_INDEX_SECOND = INDEX * 2 + 1;
    this.$refs.results[TARGET_INDEX_FIRST].style.display =
    this.$refs.results[TARGET_INDEX_SECOND].style.display =
        this.$refs.results[TARGET_INDEX_FIRST].style.display === "block"
        ||
        this.$refs.results[TARGET_INDEX_FIRST].style.display === '' ? "none" : "block";
},
// trueだったら⭕️、falseだったら❎を返す関数
true_or_false_to_emoji(bool){
    return bool ? "⭕️" : "❎";
},

css_var_set(VAR_NAME, VAR){
document.documentElement.style.setProperty(VAR_NAME, VAR);
},
column_1_none_fn(){
this.column_1_none === true ? (this.css_var_set('--css-var-column-1-none', '1fr'), this.column_1_none = false) : (this.css_var_set('--css-var-column-1-none', '0px'), this.column_1_none = true);
},
column_2_none_fn(){
this.column_2_none === true ? (this.css_var_set('--css-var-column-2-none', '1fr'), this.column_2_none = false) : (this.css_var_set('--css-var-column-2-none', '0px'), this.column_2_none = true);
},
column_3_none_fn(){
this.column_3_none === true ? (this.css_var_set('--css-var-column-3-none', '1fr'), this.column_3_none = false) : (this.css_var_set('--css-var-column-3-none', '0px'), this.column_3_none = true);
},

fn18(){
    const RESULTS = this.$refs.results;
    RESULTS.map(ELM=>ELM.style.display).some(DISPLAY=>DISPLAY==='block' || DISPLAY==='') ?
        RESULTS.map(ELM=>ELM.style.display = 'none') :
        RESULTS.map(ELM=>ELM.style.display = 'block');
},
fn19_0(){
    const THE_STYLE_DISPLAY1 = this.$refs.save_data_set_list_parent1.style.display;
    this.$refs.save_data_set_list_parent1.style.display = (THE_STYLE_DISPLAY1 === 'block' || THE_STYLE_DISPLAY1 === '') ? 'none' : 'block';
},
fn19_1(){
    const THE_STYLE_DISPLAY2 = this.$refs.save_data_set_list_parent2.style.display;
    this.$refs.save_data_set_list_parent2.style.display = (THE_STYLE_DISPLAY2 === 'block' || THE_STYLE_DISPLAY2 === '') ? 'none' : 'block';
},






data_json_parse_data1_data2(JSON_STR_DATA1_DATA2){
    return JSON.parse(JSON_STR_DATA1_DATA2);
},
date_time_form(DATE_TIME){
    // const date = new Date('2023-09-22T16:40:19.249Z');
    const date = new Date(DATE_TIME);
    const formattedDate = date.toLocaleString('ja-JP', {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false});
    return formattedDate;
},




// only_service_data(){
//     this.i_t_n_web_data = this.web_data.message.filter(V=> V.data_type === this.data_type);
// },
// async fetch_read_all(){
//     this.show_user = this.show_user === '' ? '' : this.show_user;
//     this.show_tag = this.show_tag === '' ? '' : this.show_tag;
//     const params_for_get = {
//         user: this.show_user,
//         tag: this.show_tag,
//         order_by: this.show_order_by,
//     };
//     const url = new URL(this.endpoint  + '/' + 'read_all');
//     url.search = new URLSearchParams(params_for_get).toString();
//     const res = await fetch(url, {method: 'GET', headers: {'Content-Type': 'application/json',},});
//     this.web_data = await res.json(); console.log(this.web_data);
//     this.only_service_data();
//     await this.download_data_from_web_data_id();
// },
// download_data(Data_Id){
//     const pre_data1_2 = this.i_t_n_web_data.filter(V=>V.data_type === this.data_type).filter(V=> V.id === Data_Id )[0];
//     const pre_data1 = this.data_json_parse_data1_data2(pre_data1_2.data_json_str)['data1'];
//     const pre_data2 = this.data_json_parse_data1_data2(pre_data1_2.data_json_str)['data2'];
//     this.data1_connector(pre_data1);
//     this.data2_connector(pre_data2);
// },
// change_show_user(USER){
//     this.show_user = USER;
// },
// show_all_user(){
//     this.show_user = '';
// },
// change_show_tag(TAG){
//     this.show_tag = TAG;
// },
// show_all_tag(){
//     this.show_tag = '';
// },
// change_show_order_by(){
//     this.show_order_by = this.show_order_by === 'DESC' ? 'ASC' : 'DESC';
// },
// async fetch_get_tags_for_autocomplete(){
//     const res = await fetch(this.endpoint + '/get_tags_for_autocomplete', {method: 'POST',headers: {'Content-Type': 'application/json',},
//         body: JSON.stringify({ name: this.name, password: this.password, search_tag: this.search_tag }),
//     });
//     const data = await res.json();
//     this.tags = data['message'];
// },
// async fetch_insert_link(){
// try {
//     const error_check_data1_data2 = (data1, data2) => {
//         switch (true) {
//             case data1 === undefined || data1 === null || data1.length === 0: return 'data1が空です'; break;
//             case data2 === undefined || data2 === null || data2.length === 0: return 'data2が空です'; break;
//             default: return 'OK'; break;
//         }
//     };
//     const error_check_insert_data = (data_type, data_json_str) => {
//         const is_include_DATA_TYPE = (target_data_type_str) => this.DATA_TYPE_ARRAY.some((DATA_TYPE) => target_data_type_str === DATA_TYPE);
//         switch (true) {
//             case data_json_str === undefined: return 'dataが空です'; break;
//             case data_json_str.length > 10000: return 'dataが長すぎます'; break;
//             case !is_include_DATA_TYPE(data_type): return '許可されていないdata_typeです'; break;
//             default: return 'OK'; break;
//         }
//     };
//     error_check_data1_data2(this.data1_connector(), this.data2_connector()) === 'OK' ? null : (()=>{throw new Error(error_check_data1_data2(this.data1, this.data2))})();
//     const data_convert_jsonstr = (data1, data2) => JSON.stringify({'data1': data1, 'data2': data2});
//     const data_json_str = data_convert_jsonstr(this.data1_connector(), this.data2_connector());
//     error_check_insert_data(this.data_type, data_json_str) === 'OK' ? null : (()=>{throw new Error(error_check_insert_data(this.data_type, data_json_str))})();
//     const res = await fetch(this.endpoint + '/insert_link', {method: 'POST',headers: {'Content-Type': 'application/json',},
//         body: JSON.stringify({ name: this.name, password: this.password, link: this.link,
//             data_type: this.data_type,
//             data_json_str: data_json_str,
//         }),
//     });
//     const data = await res.json(); console.log(data);
// } catch (error) {
//     console.log(error);
// }
// },







go_to_any_service_page(Service='portal'){
    switch (Service) {
        case 'portal': window.location.href = 'portal.html';break;
        case 'q_a': window.location.href = 'q_a.html';break;
        case 'f_i_b': window.location.href = 'f_i_b.html';break;
        case 'i_t_n': window.location.href = 'i_t_n.html';break;
        default: break;
    }
},




change_current_index(ONE_UP_OR_ONE_DOWN=1){
    this.current_index = this.current_index + (ONE_UP_OR_ONE_DOWN);
    this.current_index < 0 ? this.current_index = this.data5.length - 1 : null;
    this.current_index > this.data5.length - 1 ? this.current_index = 0 : null;
},
change_only_one_q_a_mode(){
    this.only_one_q_a_mode = this.only_one_q_a_mode === true ? false : true;
},

truncateText(text, id) {
    if (text.length > this.truncate_text_length && !this.untruncate_text_array.includes(id)) {
        return text.substring(0, this.truncate_text_length) + '...';
    } else {
        return text;
    }
},
// short_or_long(id) {
//     const is_include_id = this.untruncate_text_array.includes(id);
//     is_include_id ? this.untruncate_text_array.splice(this.untruncate_text_array.indexOf(id), 1) : this.untruncate_text_array.push(id);
// },

































// for_online_function
only_service_data(){
    this.temporary_list[2] = this.web_data.message.filter(V=> V.data_type === this.data_type);
},
data_json_parse_data1_data2(JSON_STR_DATA1_DATA2){
    return JSON.parse(JSON_STR_DATA1_DATA2);
},

// this.data1_connector()とthis.data2_connector()によって、webのdata1とdata2は変換される。
data1_connector(data1_param){
    // console.log("data1_connector");
    if(data1_param){this.data2 = data1_param};
    return this.data2;
    // return this.data2;
},
data2_connector(data2_param){
    // console.log("data2_connector");
    if(data2_param){this.data3 = data2_param};
    return this.data3;
    // return this.data3;
},

download_data(Data_Id){
    console.log("download_data");
    const pre_data1_2 = this.temporary_list[2].filter(V=>V.data_type === this.data_type).filter(V=> V.id === Data_Id )[0];
    const pre_data1 = this.data_json_parse_data1_data2(pre_data1_2.data_json_str)['data1'];
    const pre_data2 = this.data_json_parse_data1_data2(pre_data1_2.data_json_str)['data2'];
    // this.data6 = pre_data1;
    this.data1_connector(pre_data1);
    // this.data3 = pre_data2;
    this.data2_connector(pre_data2);
    // this.all_error_check();
    // this.processing();
    this.scrollToTarget('web');
},
date_time_form(DATE_TIME){
    // const date = new Date('2023-09-22T16:40:19.249Z');
    const date = new Date(DATE_TIME);
    const formattedDate = date.toLocaleString('ja-JP', {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false});
    return formattedDate;
},
change_show_user(USER){
    this.show_user = USER;
},
show_all_user(){
    this.show_user = '';
},
change_show_tag(TAG){
    this.show_tag = TAG;
},
show_all_tag(){
    this.show_tag = '';
},
change_show_order_by(){
    this.show_order_by = this.show_order_by === 'DESC' ? 'ASC' : 'DESC';
},
async fetch_get_tags_for_autocomplete(){
    const res = await fetch(this.endpoint + '/get_tags_for_autocomplete', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, search_tag: this.search_tag }),
    });
    const data = await res.json();
    this.tags = data['message'];
},




change_current_index(ONE_UP_OR_ONE_DOWN=1){
    this.current_index = this.current_index + (ONE_UP_OR_ONE_DOWN);
    this.current_index < 0 ? this.current_index = this.data4.length - 1 : null;
    this.current_index > this.data4.length - 1 ? this.current_index = 0 : null;
},
change_only_one_q_a_mode(){
    this.only_one_q_a_mode = this.only_one_q_a_mode === true ? false : true;
},




truncateText(text, id) {
    if (text.length > this.truncate_text_length && !this.untruncate_text_array.includes(id)) {
        return text.substring(0, this.truncate_text_length) + '...';
    } else {
        return text;
    }
},
short_or_long(id) {
    // untruncate_text_arrayにidが含まれていない場合は追加する。含まれている場合は削除する
    const is_include_id = this.untruncate_text_array.includes(id);
    is_include_id ? this.untruncate_text_array.splice(this.untruncate_text_array.indexOf(id), 1) : this.untruncate_text_array.push(id);
},

go_to_any_service_page(Service='portal'){
    switch (Service) {
        case 'portal': window.location.href = 'portal.html';break;
        case 'q_a': window.location.href = 'q_a.html';break;
        case 'f_i_b': window.location.href = 'f_i_b.html';break;
        case 'i_t_n': window.location.href = 'i_t_n.html';break;
        default: break;
    }
},


async download_data_from_web_data_id(){
    console.log('download_data_from_web_data_id');
    const id = (new URL(window.location.href).searchParams.get("id")) ? Number(new URL(window.location.href).searchParams.get("id")) : null;
    if(id === null){return};
    const result = await this.web_data.message
        .filter(V=> V['id'] === id && V['data_type'] === this.data_type)
        [0];
    if(result === undefined){return};
    this.download_data(result['id']);
},



separate_each_list(){
    this.only_q_a_list = this.web_data['message'].filter((DATA_VAL) => DATA_VAL['data_type'] === 'q_a');
    this.only_f_i_b_list = this.web_data['message'].filter((DATA_VAL) => DATA_VAL['data_type'] === 'f_i_b');
    this.only_i_t_n_list = this.web_data['message'].filter((DATA_VAL) => DATA_VAL['data_type'] === 'i_t_n');
    this.temporary_list = [
            this.only_q_a_list,
            this.only_f_i_b_list,
            this.only_i_t_n_list,
        ];
},
other_data_type(DATA_TYPE){
    return this.DATA_TYPE_ARRAY.filter(V=>V !== DATA_TYPE);
},
comment_and_tag_toggle() {
    this.comment_and_tag_visible = !this.comment_and_tag_visible;
},
choice_emoji(Service) {
    return Service === 'q_a' ? '🟰' : Service === 'f_i_b' ? '🕳️' : Service === 'i_t_n' ? '🖼️' : '📝';
},
showDialog() {
    // showDialogをクリックしたら.synapseを表示/非表示の切り替えをする
    this.synapse_visible = !this.synapse_visible;
},
show_comment_button() {
    this.comment_button_visible = !this.comment_button_visible;
},
show_tag_more_button() {
    this.tag_more_visible = !this.tag_more_visible;
},


async fetch_read_all(){
    try {
    this.show_user = this.show_user === '' ? '' : this.show_user;
    this.show_tag = this.show_tag === '' ? '' : this.show_tag;
    const params_for_get = {
        user: this.show_user,
        tag: this.show_tag,
        order_by: this.show_order_by,
    };
    const url = new URL(this.endpoint + '/' + 'read_all');
    url.search = new URLSearchParams(params_for_get).toString();
    const res = await fetch(url, {method: 'GET', headers: {'Content-Type': 'application/json',},});
    this.web_data = await res.json(); console.log(this.web_data);
    } catch (error) {
        console.log(error);
    }
},
// async fetch_read_all(){
//     this.show_user = this.show_user === '' ? '' : this.show_user;
//     this.show_tag = this.show_tag === '' ? '' : this.show_tag;
//     const params_for_get = {
//         user: this.show_user,
//         tag: this.show_tag,
//         order_by: this.show_order_by,
//     };
//     const url = new URL(this.endpoint + '/' + 'read_all');
//     url.search = new URLSearchParams(params_for_get).toString();
//     const res = await fetch(url, {method: 'GET', headers: {'Content-Type': 'application/json',},});
//     this.web_data = await res.json(); console.log(this.web_data);
//     this.only_service_data();
//     await this.download_data_from_web_data_id();
// },


// req.body.data_type, req.body.data_json
async fetch_insert_link(){
try {
    const error_check_data1_data2 = (data1, data2) => {
        switch (true) {
            case data1 === undefined || data1 === null || data1.length === 0: return 'data1が空です'; break;
            case data2 === undefined || data2 === null || data2.length === 0: return 'data2が空です'; break;
            default: return 'OK'; break;
        }
    };
    const error_check_insert_data = (data_type, data_json_str) => {
        const is_include_DATA_TYPE = (target_data_type_str) => this.DATA_TYPE_ARRAY.some((DATA_TYPE) => target_data_type_str === DATA_TYPE);
        switch (true) {
            case data_json_str === undefined: return 'dataが空です'; break;
            case data_json_str.length > 10000: return 'dataが長すぎます'; break;
            case !is_include_DATA_TYPE(data_type): return '許可されていないdata_typeです'; break;
            default: return 'OK'; break;
        }
    };
    error_check_data1_data2(this.data1_connector(), this.data2_connector()) === 'OK' ? null : (()=>{throw new Error(error_check_data1_data2(this.data1, this.data2))})();
    const data_convert_jsonstr = (data1, data2) => JSON.stringify({'data1': data1, 'data2': data2});
    const data_json_str = data_convert_jsonstr(this.data1_connector(), this.data2_connector());
    error_check_insert_data(this.data_type, data_json_str) === 'OK' ? null : (()=>{throw new Error(error_check_insert_data(this.data_type, data_json_str))})();
    const res = await fetch(this.endpoint + '/insert_link', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link: this.link,
            data_type: this.data_type,
            data_json_str: data_json_str,
        }),
    });
    const data = await res.json(); console.log(data);
} catch (error) {
    console.log(error);
}
},

async fetch_delete_link(LINK_ID){
    if (window.confirm('Are you sure you want to delete this link?')) {
        const res = await fetch(this.endpoint + '/delete_link', {
            method: 'POST',
            headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({ name: this.name, password: this.password, id: LINK_ID }),
        });
        const data = await res.json(); 
        await this.fetch_read_all();
    } else {
        console.log('Delete operation cancelled by the user.');
    }
},
async fetch_like_increment_or_decrement(LINK_ID){
    const res = await fetch(this.endpoint + '/like_increment_or_decrement', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link_id: LINK_ID }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_insert_comment(LINK_ID){
    const res = await fetch(this.endpoint + '/insert_comment', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link_id: LINK_ID, comment: this.comment }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_delete_comment(COMMENT_ID){
    console.log(COMMENT_ID);
    const res = await fetch(this.endpoint + '/delete_comment', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, comment_id: COMMENT_ID }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_insert_comment_reply(COMMENT_ID){
    console.log(COMMENT_ID);
    const res = await fetch(this.endpoint + '/insert_comment_reply', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, comment_id: COMMENT_ID, comment_reply: this.comment_reply }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_delete_comment_reply(COMMENT_REPLY_ID){
    const res = await fetch(this.endpoint + '/delete_comment_reply', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, comment_reply_id: COMMENT_REPLY_ID }),
    });
    this.data = await res.json(); console.log(this.data);
    await this.fetch_read_all();
},
async fetch_insert_tag(LINK_ID){
    const res = await fetch(this.endpoint + '/insert_tag', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link_id: LINK_ID, new_tag: this.search_tag }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_get_tags_for_autocomplete(){
    const res = await fetch(this.endpoint + '/get_tags_for_autocomplete', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, search_tag: this.search_tag }),
    });
    const data = await res.json();
    this.tags = data['message'];
},
async fetch_delete_tag(LINK_ID, TAG_ID){
    const res = await fetch(this.endpoint + '/delete_tag', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, id: TAG_ID, link_id: LINK_ID, }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},

show_all_user(){
    this.show_user = '';
},
show_all_tag(){
    this.show_tag = '';
},
change_show_order_by(){
    this.show_order_by = this.show_order_by === 'DESC' ? 'ASC' : 'DESC';
},

simple_funtionable() {
    this.simple_funtionable_flag = !this.simple_funtionable_flag;
    function simple(){
        document.querySelectorAll('body :not(.simple_mode2)').forEach((V) => {
            V.classList.add('display_none');
        });
        document.querySelectorAll('.minimum, .column-2').forEach((V) => {
            V.classList.add('maximum');
        });
    }
    function funtionable(){
        document.querySelectorAll('body :not(.simple_mode2)').forEach((V) => {
            V.classList.remove('display_none');
        });
        document.querySelectorAll('.minimum, .column-2').forEach((V) => {
            V.classList.remove('maximum');
        });
    }
    this.simple_funtionable_flag === true ? simple() : funtionable();
},
apply_inline_block_styles_all_at_once(Simple=false) {
    // simple_mode1が本来のinline-block指定のCSS指定と競合するため、
    // インラインスタイルを優先適用させるための関数
    // .simple_mode1配下の場合はdisplay: none;を適用する
    this.simple_funtionable_flag === true ? Simple = true : Simple = false;
    let style = Simple === true ? 'display: none;' : 'display: inline-block;' ;
    return style;
},
textarea_opener() {
    this.textarea_visible = !this.textarea_visible;
},
scrollToTarget(For='local') {
    this.textarea_visible = true;
    document.getElementById('target').scrollIntoView(
        {behavior: 'instant', block: 'end', inline: 'nearest'}
    );
    For ==='local' ? this.$refs.save_data_set_list_parent1.style.display = 'none' : null;
    For ==='web' ? this.$refs.save_data_set_list_parent2.style.display = 'none' : null;
},
advanced_visible_init() {
    this.advanced_visible === 'advanced' ? this.css_var_set('--advanced-display-var', 'inline-block') : this.css_var_set('--advanced-display-var', 'none');
},
// for_online_function

},
}).mount('.app');


// 正規表現だけでURLかどうかを判定する関数
function isURL(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    if(!pattern.test(str)) {
    // alert("URLではありません");
    return false;
    } else {
    return true;
    }
};

// 1秒後に任意の関数を実行する関数、第一引数にmsを入れる、第二引数に関数を入れる
// imgタグのsrcにURLを入れるときに使う
function sleep(ms, fn) {
    return new Promise(resolve => setTimeout(resolve, ms)).then(fn);
};







// this.download_data()の中の
// this.all_error_check();
// this.processing();
// の処理をindex2.htmlとindex3.htmlで共通化するために移植or既存の関数の名称変更が必要
</script>
</html>