<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portal</title>

<link rel="stylesheet" href="./lib/reset.css">
<script src="./lib/localforage@1.10.0.js"></script>
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<script src="./lib/ramda.@0.28.0.js"></script>

</head>
<body class="portal">
<!-- <button @click="fn_0">fn_0</button>
<template v-for="(DATA_VAL, DATA_IDX) in [1,2,3]">
<div>{{ DATA_VAL }}</div>
</template> -->

<textarea name="" id="" cols="10" rows="10" v-model="q_a_data_1"></textarea>
<textarea name="" id="" cols="10" rows="10" v-model="q_a_data_2"></textarea>
<button @click="q_a_save_data_to_q_a_all_save">q_a_save_data_to_q_a_all_save</button>

<ul class="save_data_set_list_parent" style='display: block;'>
<li v-for="(DATAVAL, DATAIDX) in q_a_all_save" class="save_data_set_list">
    <span @click="">{{ [DATAVAL[0], DATAVAL[1]] }}</span>
    <button @click="q_a_save_data_delete(DATAIDX)" class="q_a_save_data_delete">🗑️</button>
    <button @click="fetch_users_q_a_insert(DATAVAL)" class="fetch_users_q_a_insert">📤</button>

    <button @click="q_a_set_data_to_textarea(DATAVAL[0], DATAVAL[1])" class="q_a_set_data_to_textarea">🥍</button>
</li>
</ul>


<ul class="save_data_set_list_parent" style='display: block;'>
<li v-for="(DATAVAL, DATAIDX) in q_a_data_of_servers_fetched" class="save_data_set_list">
<span @click="">{{ DATAVAL.content }}</span>
<span @click="">{{ DATAVAL.created_at }}</span>
<span @click="">{{ DATAVAL.name }}</span>
<span @click="">{{ DATAVAL.updated_at }}</span>
<button @click="fetch_delete_q_a(DATAVAL.id)">DELETE it</button>
<button @click="q_a_save_data_to_localforage(DATAVAL.content)">SAVE it to Your data</button>
</li>
</ul>

<textarea name="" id="" cols="10" rows="10" v-model="i_t_n_data_1"></textarea>
<textarea name="" id="" cols="10" rows="10" v-model="i_t_n_data_2"></textarea>
<button @click="i_t_n_save_data_to_i_t_n_all_save">i_t_n_save_data_to_i_t_n_all_save</button>

<ul class="save_data_set_list_parent" style='display: block;'>
<li v-for="(DATAVAL, DATAIDX) in i_t_n_all_save" class="save_data_set_list">
    <span @click="">{{ [DATAVAL[0], DATAVAL[1]] }}</span>
    <button @click="i_t_n_save_data_delete(DATAIDX)" class="i_t_n_save_data_delete">🗑️</button>
    <button @click="fetch_users_i_t_n_insert(DATAVAL)" class="fetch_users_i_t_n_insert">📤</button>

    <button @click="i_t_n_set_data_to_textarea(DATAVAL[0], DATAVAL[1])" class="i_t_n_set_data_to_textarea">🥍</button>
</li>
</ul>

<ul class="save_data_set_list_parent" style='display: block;'>
<li v-for="(DATAVAL, DATAIDX) in i_t_n_data_of_servers_fetched" class="save_data_set_list">
<span @click="">{{ DATAVAL.id }}</span>
<span @click="">{{ DATAVAL.content }}</span>
<span @click="">{{ DATAVAL.created_at }}</span>
<span @click="">{{ DATAVAL.name }}</span>
<span @click="">{{ DATAVAL.updated_at }}</span>

<button @click="fetch_delete_i_t_n(DATAVAL.id)">DELETE it</button>
<button @click="i_t_n_save_data_to_localforage(DATAVAL.content)">SAVE it to Your data</button>

</li>
</ul>



</body>
<script>
const portal = Vue.createApp({
data() {
    return {
q_a_data_1: '',
q_a_data_2: '',

i_t_n_data_1: '',
i_t_n_data_2: '',

q_a_all_save: [],
i_t_n_all_save: [],

name: 'name1',
password: 'password1',

HOST: 'http://localhost',
PORT: '8000',

q_a_data_of_servers_fetched: null,
i_t_n_data_of_servers_fetched: null,

    }},
watch: {
   any: {
     handler() {
     },
     deep: true
   },
},
beforeMounte(){
},
mounted() {
    this.q_a_save_data_load();
    this.i_t_n_save_data_load();

    this.fetch_users_q_a();
    this.fetch_users_i_t_n(1);
},
beforeUpdate() {
},
updated() {
},
methods: {
to_ary(it){
return JSON.parse(JSON.stringify(it));
},


async q_a_save_data_to_q_a_all_save(){
    this.q_a_all_save.push(this.to_ary([this.q_a_data_1, this.q_a_data_2]));
    await localforage.setItem('q_a_1', JSON.stringify(this.q_a_all_save));
},
async q_a_save_data_load() {
    this.q_a_all_save = JSON.parse(await localforage.getItem('q_a_1')) || [];
},
async q_a_save_data_delete(INDEX){
    if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕\n" + R.zip(this.q_a_all_save[INDEX][0].split("\n"), this.q_a_all_save[INDEX][1].split("\n")).join("\n") )) {
        this.q_a_all_save.splice(INDEX, 1);
        await localforage.setItem('q_a_1', JSON.stringify(this.q_a_all_save));
    };
},

// http://localhost:8000/users_q_a?name=name&password=password　のPOSTリクエストを想定してfetchするawait関数。this.HOSTとthis.PORTとthis.nameとthis.passwordを使う
// app.get('/read_q_a', (req, res) => {
//     const read_q_a = db.prepare('SELECT q_a.id, q_a.content, q_a.created_at, q_a.updated_at, users.name FROM q_a INNER JOIN users ON q_a.user_id = users.id').all();
//     res.send(read_q_a);
// });




async fetch_users_q_a_insert(content, user_id=1) {
    user_id = 1;
    const res = await fetch(this.HOST + ':' + this.PORT + '/insert_q_a?user_id=' + user_id + '&content=' + JSON.stringify(content));
    const json = await res.json();

    this.fetch_users_q_a();

    return json;
},
// http://localhost:8000/delete_i_t_n?id=1 で idは1を想定してfetchするawait関数。this.HOSTとthis.PORTを使う
async fetch_delete_q_a(id) {
    const res = await fetch(this.HOST + ':' + this.PORT + '/delete_q_a?id=' + id);
    const json = await res.json();

    this.fetch_users_q_a();

    return json;
},
// q_aの引数をcontentをlocalforageに追加保存する関数
async q_a_save_data_to_localforage(content){
    const parsed_content = JSON.parse(content);
    this.q_a_all_save.push(parsed_content);
    await localforage.setItem('q_a', JSON.stringify(this.q_a_all_save));
},
async q_a_set_data_to_textarea(q_a_data_1, q_a_data_2){
    this.q_a_data_1 = q_a_data_1;
    this.q_a_data_2 = q_a_data_2;
},







async i_t_n_save_data_to_i_t_n_all_save(){
    this.i_t_n_all_save.push(this.to_ary([this.i_t_n_data_1, this.i_t_n_data_2]));
    await localforage.setItem('i_t_n', JSON.stringify(this.i_t_n_all_save));
},
async i_t_n_save_data_load() {
    this.i_t_n_all_save = JSON.parse(await localforage.getItem('i_t_n')) || [];
},
async i_t_n_save_data_delete(INDEX){
    if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕\n" + R.zip(this.i_t_n_all_save[INDEX][0].split("\n"), this.i_t_n_all_save[INDEX][1].split("\n")).join("\n") )) {
        this.i_t_n_all_save.splice(INDEX, 1);
        await localforage.setItem('i_t_n', JSON.stringify(this.i_t_n_all_save));
    };
},
// http://localhost:8000/users_i_t_n/:id で idは1を想定してfetchするawait関数。this.HOSTとthis.PORTを使う
async fetch_users_i_t_n(id) {
    const res = await fetch(this.HOST + ':' + this.PORT + '/users_i_t_n/' + id);
    const json = this.i_t_n_data_of_servers_fetched = await res.json();
    return json;
},
// 引数のcontentをJSON.stringifyして、http://localhost:8000/insert_i_t_n?user_id=1&content=contentを想定してgetでinsertのfetchをするawait関数。this.HOSTとthis.PORTを使う。
async fetch_users_i_t_n_insert(content, user_id=1) {
    user_id = 1;
    const res = await fetch(this.HOST + ':' + this.PORT + '/insert_i_t_n?user_id=' + user_id + '&content=' + JSON.stringify(content));
    const json = await res.json();

    this.fetch_users_i_t_n(1);

    return json;
},
// http://localhost:8000/delete_i_t_n?id=1 で idは1を想定してfetchするawait関数。this.HOSTとthis.PORTを使う
async fetch_delete_i_t_n(id) {
    const res = await fetch(this.HOST + ':' + this.PORT + '/delete_i_t_n?id=' + id);
    const json = await res.json();

    this.fetch_users_i_t_n(1);

    return json;
},
// i_t_nの引数をcontentをlocalforageに追加保存する関数
async i_t_n_save_data_to_localforage(content){
    const parsed_content = JSON.parse(content);
    this.i_t_n_all_save.push(parsed_content);
    await localforage.setItem('i_t_n', JSON.stringify(this.i_t_n_all_save));
},
// 第一引数をi_t_n_data_1に、第二引数をi_t_n_data_2に入れる関数
async i_t_n_set_data_to_textarea(i_t_n_data_1, i_t_n_data_2){
    this.i_t_n_data_1 = i_t_n_data_1;
    this.i_t_n_data_2 = i_t_n_data_2;
},


},
}).mount('.portal');
</script>
</html>