
.fill_in .collapse{
display: var(--FITB-collapse-display);
}
.fill_in textarea{
width: 100%;
height: 20rem;
}
.fill_in button{
width: 100%;
height: 100%;
}
.fill_in .seedNum{
width: 3rem;
}
.fill_in .answer{
margin: 2rem 1rem;
}
.fill_in .ul{
display: grid;
grid-template-columns: auto;
grid-template-areas:
"li-1 li-2 li-3 li-4 li-5 li-6 li-7";
width: 100vw;
height: var(--FITB-button-ul-height);
}
.fill_in li{
list-style: none;
}
.fill_in .li-1{background-color: rgba(122,111,104);
grid-area: li-1;
width: var();
}
.fill_in .li-2{background-color: rgba(227,110,247);
grid-area: li-2;
visibility: var(--FITB-li-visibility);
}
.fill_in .li-3{background-color: rgba(174,200,103);
grid-area: li-3;
visibility: var(--FITB-li-visibility);
}
.fill_in .li-4{background-color: rgba(127,163,24);
grid-area: li-4;
visibility: var(--FITB-li-visibility);
}
.fill_in .li-5{background-color: rgba(234,187,115);
grid-area: li-5;
visibility: var(--FITB-li-visibility);
}
.fill_in .li-6{background-color: rgba(94,228,153);
grid-area: li-6;
visibility: var(--FITB-li-visibility);
}
.fill_in .li-7{background-color: rgb(127, 50, 228);
grid-area: li-7;
visibility: var(--FITB-li-visibility);
}